<h1 class="page-title mt-3">Configure Reporting Custom Fields</h1>
 
          <!-- <div class="p-2 valuation-sub">
            <label> (0 model executions) </label>
            <button type="button" class="evolv-btn">Create New Execution</button>
          </div> -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                <th scope="col"> Field Name</th>
                <th scope="col"> Label</th>
                <th scope="col">  Application Type</th>
                <th scope="col"> Field Type</th>
                <th scope="col">   Reporting Type</th>
                <th scope="col">    Grouping</th>
                <th scope="col">   Is Input</th>
                <th scope="col">  Is PII</th>
                <th scope="col">    Visible</th>
                <th scope="col">     Description</th>
                <th scope="col">   Custom Lookup Table</th>
                <th scope="col">   Standard RCF</th>
                </tr>
            </thead>
            <tbody>    
                <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr>
                  <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr> <tr >
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">edited</td>
                    <td _ngcontent-noc-c18="" title="unadjustedlossrate" align="left" valign="middle">unadjustedlossrate</td>
                    <td _ngcontent-noc-c18="" title="annualized unadjusted loss rate" align="left" valign="middle"> loss rate</td>
                    <td _ngcontent-noc-c18="" title="Valuation" align="left" valign="middle">Valuation</td>
                    <td _ngcontent-noc-c18="" title="Decimal(17,14)" align="left" valign="middle">Decimal(17,14)</td>
                    <td _ngcontent-noc-c18="" title="METRIC" align="left" valign="middle">METRIC</td>
                    <td _ngcontent-noc-c18="" title="None" align="left" valign="middle">None</td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" align="center" valign="middle" style="vertical-align: middle;">
                        <div class="form-check" style="padding: 0 25%;
                        float: right;"> 
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label" for="check1"></label>
                          </div>
                    </td>
                    <td _ngcontent-noc-c18="" title="" align="left" valign="middle"></td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle" style="display: none;">1</td>
                    <td _ngcontent-noc-c18="" align="left" valign="middle"></td>
                    <td> <img style="padding: 0 50%;
                    "  src="/assets/img/ok.png"></td> 
                  </tr>
            </tbody>
        </table>
    </div>    
    <div class="text-center p-3">
        <button type="button" class="evolv-btn me-3">Save</button>
        <button type="button" class="evolv-btn me-3">Add Row</button>
        <button type="button" class="evolv-btn me-3">Delete</button>
        <button type="button" class="evolv-btn me-3">Revert</button>
        <button type="button" class="evolv-btn me-3">Copy</button>
        <button type="button" class="evolv-btn me-3">Pase</button>
        <button type="button" class="evolv-btn me-3">Export</button>
    </div>