<h1 class="page-title mt-3">Transfer Data to EVOLV Valuation</h1>

<div class="container">
    <div class="span">
        <p class="sub-heading" >CHECK STATUS:
            <img src="./../../../../assets/img/icons/ok.png" alt="">
            READY FOR EXECUTION!!
          </p>
          

    </div>
    <div class="form-container">
        <form>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">POSITION NAME </label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Position Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">POSITION DESCRIPTION:</label>
              <div class="col-sm-10">
                <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>  
              </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">SNAPSHOT DATE: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">POSITION DATE:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">WORKFLOW TYPE:</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Loan Balance</option>
                        <option value="1">Loan Balance</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">FILTER TYPE:</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                       
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">APPLY EDITS FROM: </label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                       
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="reset" name="clearButton" value="Run"  class="evolv-btn" > 
                </div>
            </div>
        </form>
    </div>
    
    

</div>