.page-title {
    font-size: 18px;
    color: #231f20;
    font-weight: bold;
    font-family: 'Latobold', sans-serif;
    padding: 4px 0 18px 0px;
    margin: 0 15px 20px 15px;
    border-bottom: 1px solid #d9d9d9;
}
.table-header {
    background-image: none;
    background-color: #5e9dc0!important;
    color: #FFF;
    border-bottom: 1px solid #4b7e99 !important;
}
.valuation-sub {
    label{
        font-size: 12px;
        padding: 0px 20px 20px 5px;
    }
}
th{
    font-family: 'Latobold', sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 21px 15px 15px;
    border-bottom: 1px solid #4b7e99 !important;
}
