<div id="account-bar">
        
            

    <span class="welcome">
       <span class="users-name">Welcome,  
      
      
        
      
     es20client12a Administrator</span>
        <span class="user-company">| &nbsp;&nbsp; ES20CLIENT12</span>
        <span id="user-announcement" class="user-announcement" onblur="hidePopup();" value="click" style="display: none;"></span>
    </span>
    <span class="last-login">05/19/2022 07:16 AM EDT</span>
    
        <span class="version">EVOLV version:  6.3.0</span>
    

    <span class="account">
        <a href="/app/logout/" class="current">Logout</a>
        <a href="/help.jsp" target="_blank">Help</a>
    </span>

</div>