<h1 class="page-title mt-3">Position Updater</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="validationServer01">NEW POSITION NAME *:</label>
            <input type="text" class="form-control " id="validationServer01"  required>
           
        </div>
        <div class="col-md-3">
            <label for="validationServer01">NEW POSITION DESCRIPTION:</label>
            <textarea type="text" class="form-control " id="validationServer01"   required></textarea>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="validationServer01">POSITION *:</label>
            <select class="form-select" id="inputGroupSelect01" >
                
                <option value="1" selected>one</option>
                <option value="2">two</option>
                <option value="3">three</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="validationServer01">ASSUMPTION *:</label>
            <select class="form-select" id="inputGroupSelect01" >
                
                <option value="1" selected>one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="validationServer01">EFFECTIVE DATE *:</label>
            <input class="form-control" type="date" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="reset" name="executeButton" value="Execute"  class="evolv-btn" >   
        </div>
    </div>
</div>
