<h1 class="page-title mt-3">Discount Scenario Management</h1>
<h2 class="page-sub-title mt-3">Discount Scenario</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="validationServer01">INSTRUMENT ID</label>
            <select class="form-select" id="inputGroupSelect01" >
                <option value="1" selected>one</option>
                <option value="2">two</option>
                <option value="3">three</option>
            </select>     
        </div>
        <div class="col-md-3">
            <label for="validationServer01">INSTRUMENT ID</label>
            <input type="text" class="form-control " id="validationServer01" placeholder="INSTRUMENT ID"  required>    
        </div>
    </div>
    <div class="row-buttons">
        <button type="button-bottom" class="evolv-btn">Add</button>
        <button type="button-bottom" class="evolv-btn" disabled>Delete</button>
        <button type="button-bottom" class="evolv-btn" disabled>Edit</button>
    </div>

</div>
