<h1 class="page-title mt-3">Search Discount Scenarios</h1>
<h2 class="page-sub-title mt-3">Search Criteria</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="validationServer01">DISCOUNT SCENARIO NAME:</label>
            <input type="text" class="form-control " id="validationServer01" placeholder="Discount Scenario Name"  required>  
        </div>
        <div class="col-md-3">
            <button type="button-bottom" class="evolv-btn" disabled>Search</button>
        </div>
    </div>
</div>