<h1 class="page-title mt-3">Instrument Browser</h1>


<div class="container">
    <h2 class="page-sub-title mt-5">Filter Criteria</h2>
    <div class="row">
        <div class="col-sm">
            <label for="validationServer01">INSTRUMENT ID</label>
            <input type="text" class="form-control " id="validationServer01" placeholder="INSTRUMENT ID"  required>
           
        </div>
        <div class="col-sm">
            <label for="validationServer01">INSTRUMENT TYPE</label>
            <select class=" form-control " id="inputGroupSelect01" >
                
                <option value="1" selected>Facilities</option>
                <option value="2">Loans</option>
                <option value="3">Non-Pooled Loans</option>
                <option value="1">Pools</option>
                <option value="2">REO Asset</option>
                <option value="3">FDIC Asset</option>
              </select>
        </div>
        <div class="col-sm">
            <label for="validationServer01">PRODUCT TYPE</label>
            <select class=" form-control " id="inputGroupSelect01">
                <option selected>[ALL]</option>
                <option value="1">Non Provided </option>
                <option value="2">Unknown</option>
              </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <label for="validationServer01">INVENTORY ID</label>
            <input type="text" class="form-control " id="validationServer01" placeholder="Inventory Id"  required>
           
        </div>
        <div class="col-sm">
            <label for="validationServer01">PORTFOLIO</label>
            <select class=" form-control " id="inputGroupSelect01">
                <option selected>[ALL]</option>
                <option value="1">Non Provided</option>
                <option value="2">Pending Portfolio</option>
                <option value="3">System Generate Default Portfolio</option>
              </select>
        </div>
        <div class="col-sm">
            <label for="validationServer01">PROFIT CENTER</label>
            <input type="text" class="form-control " id="validationServer01" placeholder="Profit Center"  required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <label for="validationServer01">POOL ID</label>
            <input type="text" class="form-control " id="validationServer01" placeholder="Pool Id"  required>
           
        </div>
        <div class="col-sm">
            <label for="validationServer01">PORTFOLIO INTENT</label>
            <select class=" form-control " id="inputGroupSelect01">
                <option selected>[ALL]</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-sm">
            <label for="date" class="col-1 col-form-label">ACCOUNTING PERIOD BETWEEN</label>
                <div class="col-5 inline-input">
                    <input class="form-control" type="date" />
                    <input class="form-control" type="date" />
                   
                </div>
            
        </div>
      </div>
      <div class="lead">
       <p>1 - Enter * and value for searches involving partial information</p> 
       <button type="button" class="evolv-btn">Apply Filter</button>
      </div>
</div>