<div class="col-auto px-0">
    <div class="d-flex flex-column align-items-start text-white">
        <!-- <h5>Reporting</h5>
        <div style="margin-bottom: 1rem">
            <button pButton type="button" label="Expand all" (click)="expandAll()" style="margin-right: .5rem">Expand All</button>
            <button pButton type="button" label="Collapse all" (click)="collapseAll()">Collapse All</button>
        </div> -->
        <button type="button" class="evolv-btn bg-danger m-4">Create</button>
        <p-tree [value]="files2"></p-tree>
    </div>
</div>