<h1 class="page-title mt-3">Position Management</h1>
<h2 class="page-sub-title mt-5">Search Criteria</h2>
<div class="row">
    <div class="col-md-3">
        <label for="validationServer01">Position Name</label>
        <input type="text" class="form-control " id="validationServer01" placeholder="Position Name"  required>
       
    </div>
    <div class="col-md-3">
       
        <div class="span">
            <label for="">From Date</label>
            <label for="">To Date</label>
        </div>
        <div class="span">
            <input class="form-control" type="date" />
            <input class="form-control" type="date" />
        </div>
    </div>
    <div class="col-md-3 button-tab">
        <input type="button" id="searchButton" name="searchButton" value="Search"  class="evolv-btn">
        <input type="reset" name="clearButton" value="Reset"  class="evolv-btn" >        
    </div>
    
</div>
<div class="row">
    <button type="button-bottom" class="evolv-btn">Add</button>
    <button type="button-bottom" class="evolv-btn" disabled>Delete</button>
    <button type="button-bottom" class="evolv-btn" disabled>Edit</button>
    <button type="button-bottom" class="evolv-btn" disabled>Copy</button>
</div>


