<div class="container-fluid">
    <div class="row">
        <div class="col-12"> 
            <h1 class="page-title mt-3">Role Management</h1>
            <div class="text-end">
                <button type="button" class="evolv-btn" data-bs-toggle="modal" data-bs-target="#userName">Add user</button>
            </div>

            <div #tableContainer>
            <p-table #table [value]="userList" dataKey="id" rowExpandMode="single"
            [resizableColumns]="true" columnResizeMode="expand"
            [lazy]="true" (onLazyLoad)="load($event)" [paginator]="true" [showCurrentPageReport]="true"
            [lazyLoadOnInit]="false" sortMode="multiple" [multiSortMeta]="multiSortMeta"
            [rows]="2" [totalRecords]="150">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4em; padding-left: 5px">
                            </th>
                            <th style="width: 120px" class="text-start" pSortableColumn="name" pResizableColumn>
                                NAME
                                <p-sortIcon field="name"></p-sortIcon>
                                <sup>{{getSortIndex('name')}}</sup>
                            </th>
                            <th style="width: 120px" class="text-center" pSortableColumn="label" pResizableColumn>
                                LABEL
                                <p-sortIcon field="label"></p-sortIcon>
                                <sup>{{getSortIndex('label')}}</sup>
                            </th>
                            <th  pSortableColumn="Description" pResizableColumn>
                                Description
                                <p-sortIcon field="Description"></p-sortIcon>
                                <sup>{{getSortIndex('Description')}}</sup>
                            </th>
                            <th  style="width: 30px" pSortableColumn="Description" pResizableColumn>
                                Actions
                            </th>
                        </tr>
                        <!-- <tr>
                            <th></th>
                            <th class="vr-input-icon-holder">
                                <input class="w-100" pInputText type="text">
                                <i class="pi pi-search search-pi-icon"></i>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr> -->
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-expanded="expanded">
                        <tr [class.vr-expanded-row]="expanded">
                            <td>
                                <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#userName" >
                                    <img src="/assets/avatar/11.jpg" alt="user">
                                </a>
                            </td>
                            <td class="vr-overflow-ellipsis" appTooltipOnOverflow>
                                <a class="user-name cursor-pointer" data-bs-toggle="modal" data-bs-target="#userName">
                                    {{user.name}}</a>
                            </td>
                            <td class="vr-overflow-ellipsis text-center" appTooltipOnOverflow>
                                    {{user.label}}
                            </td>
                            <td class="text-center">{{user.description}}</td>
                            <td class="text-center">
                                <i class="cursor-pointer pi pi-trash" data-bs-toggle="modal" data-bs-target="#userName"></i>
                                <i class="cursor-pointer ps-3 pi pi-user-edit" data-bs-toggle="modal" data-bs-target="#userName">
                                </i>
                            </td>
                        </tr>
                        <ng-template pTemplate="groupfooter" let-user>
                            <tr class="p-rowgroup-footer">
                                <td colspan="4" style="text-align: right">Total Customers</td>
                                <td>50</td>
                            </tr>
                        </ng-template>
                    </ng-template>
                    
                </p-table>
            </div>

             <!-- Modal -->
             <div class="modal fade" id="userName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">User information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      nshah
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
        <!-- <div class="text-center p-3">
            <button type="button" class="evolv-btn me-3">Save</button>
            <button type="button" class="evolv-btn me-3">Add Row</button>
            <button type="button" class="evolv-btn me-3">Delete</button>
            <button type="button" class="evolv-btn me-3">Revert</button>
            <button type="button" class="evolv-btn me-3">Copy</button>
            <button type="button" class="evolv-btn me-3">Pase</button>
            <button type="button" class="evolv-btn me-3">Export</button>
        </div> -->
        </div>
    </div>
</div>
