.page-title {
    font-size: 18px;
    color: #231f20;
    font-weight: bold;
    font-family: 'Latobold', sans-serif;
    padding: 4px 0 18px 0px;
    margin: 0 15px 20px 15px;
    border-bottom: 1px solid #d9d9d9;
}
// .table-header {
//     background-image: none;
//     background-color: #5e9dc0!important;
//     color: #FFF;
//     border-bottom: 1px solid #4b7e99 !important;
// }
// .valuation-sub {
//     label{
//         font-size: 12px;
//         padding: 0px 20px 20px 5px;
//     }
// }
// th{
//     font-family: 'Latobold', sans-serif;
//     font-weight: bold;
//     font-size: 11px;
//     text-align: center;
//     text-transform: uppercase;
//     padding: 15px 21px 15px 15px;
//     border-bottom: 1px solid #4b7e99 !important;
// }
// .table-responsive{
//     height:300px;  
//     overflow-y:scroll;
//     overflow-x: hidden;
//     thead tr:nth-child(1) th{
//       position: sticky;
//       top: 0;
//       z-index: 10;
//       background-color: #5e9dc0;
//     }
// }
// tr td {
//     font-family: Lato, sans-serif;
//     font-size: 12px;
//     padding: 1px 10px;
//     height: 23px;
//     line-height: 23px
// }
// :host ::ng-deep .ui-table .ui-table-tbody > tr > td.vr-controls {
//     padding-top: 1px;
//     padding-bottom: 1px;
// }
img{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #0dcaf0;
}
.user-name{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
:host ::ng-deep table tbody tr:hover {
    background-color: aliceblue;
    padding: 2px;
    margin: 2px;
    border: 2px solid darkgray;
    transform: scale(1.005);
    cursor: pointer;
}

// :host ::ng-deep .p-dialog.p-confirm-dialog {
//     background-color: #bed9f0;
//     padding: 25px;
// }

// :host ::ng-deep .p-dialog-content{
//     padding: 25px;
// }
// :host ::ng-deep .p-confirm-dialog-reject{
//     color: #ffffff;
//     background: red;
//     border: 1px solid #2196F3;
//     padding: 0.5rem 1rem;
//     font-size: 1rem;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     border-radius: 3px;

// }
// :host ::ng-deep .p-confirm-dialog-accept {
//     color: #ffffff;
//     background: #2196F3;
//     border: 1px solid #2196F3;
//     padding: 0.5rem 1rem;
//     font-size: 1rem;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     border-radius: 3px;
//     margin-left: 15px;
// }