.footer {
    width: 100%;
    text-align: center;
    color: #231f20;
    font-size: 11px;
    padding: 15px;
    clear: both;
    float: none;
    background-color: #E6E1D5
}
.footer a {
    color: #004f79 !important;
    margin-left: 20px;
    text-decoration: none;
}