@charset "utf-8";
* {
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Latobold';
    src: url('assets/fonts/lato-bold-webfont.eot');
    src: url('assets/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/lato-bold-webfont.woff') format('woff'),
    url('assets/fonts/lato-bold-webfont.ttf') format('truetype'),
    url('assets/fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/lato-regular-webfont.eot');
    src: url('assets/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/lato-regular-webfont.woff') format('woff'),
    url('assets/fonts/lato-regular-webfont.ttf') format('truetype'),
    url('assets/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #e6e1d5;
}

a {
    color: #004f79;
    text-decoration: none;
}

a img {
    border: none;
}

object, embed {
    outline: 0;
}
.evolv-btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 9px;
    height: 29px;
    margin: 0;
    padding: 10px !important;
    color: #fff !important;
    border: none;
    border-radius: 3px;
    background-color: #004F79 !important;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 25%);
    cursor: pointer;
    width: auto !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #E4EEF3 !important;
}
tbody, td, tfoot, th, thead, tr {
    border-color: #C9C9D6 !important;
    border-style: solid !important;
    border-width: 0.5px !important;
}
.pi-search.search-pi-icon{
    margin-left: -15px;
    font-weight: 700;
}
.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
    color: #848484;
    height: 1.5em;
    min-width: 1.5em;
    font-size: 14px;
}
p-paginator .p-paginator.p-component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 0;
}
.p-paginator-pages .p-highlight{
    background-color: #007ad9;
    color: #fff;
    width: 2em;
}
// p {
//     margin: 0;
//     padding: 0;
// }

// .dropbtn {
//     position: relative;
// }

// .dropbtn:after {
//     content: "";
//     position: absolute;
//     width: 0;
//     height: 0;
//     z-index: 100;
// }

// #content {
//     font-family: 'Lato', sans-serif;
//     font-size: 14px;
//     line-height: 18px;
//     color: #231f20;
// }

// #bodywrapper {
//     margin: 0px 40px;
//     min-width: 1100px;
//     background-color: #fff;

//     -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
//     -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
//     box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
//     padding-top: 92px;
// }

// .clearBoth {
//     clear: both;
//     height: 1px;
//     overflow: hidden;
// }

// .floatLeft {
//     float: left;
// }

// .floatRight {
//     float: right;
// }

// .blCurve {
//     -moz-border-radius-bottomleft: 12px;
//     padding-left: 12px;
// }

// /* -- 02. Header -- */
// /* ---- 02.1 Account Bar -- */
// #account-bar {
//     position: relative;
//     padding: 10px 0px;
//     font-size: 11px;
//     text-transform: uppercase;
//     background: #FFF;
// }

// .top_header {
//     width: 100%;
//     position: fixed;
//     height: 92px;
//     padding-right: 80px;
//     top: 0;
//     min-width: 1100px;
//     margin: 0;
//     z-index: 55;
//     overflow: hidden;
// }

// #account-bar span {
//     margin-left: 10px;
// }

// /* Masthead & Footer Docking */
// #masthead.docked {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 9999;
// }

// #account-bar.docked {
//     margin-bottom: 80px;
// }

// #account-bar.docked .account {
//     z-index: 10000;
//     color: #FFF;
//     right: 132px;
//     position: fixed;
//     top: 5px;
// }

// #footer.docked {
//     min-width: 100%;
//     width: 100%;
//     position: fixed;
//     bottom: 0;
//     background-color: #e6e1d5;
//     padding: 10px;
//     z-index: 999;
// }

// .top_header .docked .account {
//     display: none;
// }

// .welcome {
//     color: #231f20;
//     letter-spacing: 0.1em;
// }

// .last-login {
//     color: #a7a9ac;
//     letter-spacing: 0.1em;
// }

// .account {
//     position: absolute;
//     right: 0;
// }

// .account a {
//     margin: 0px 10px;
//     color: #5e9dc0;
// }

// #account-bar .dropbtn {
//     padding-right: 14px;
// }

// #account-bar .dropbtn:after {
//     top: 35%;
//     border-left: 4px solid transparent;
//     border-right: 4px solid transparent;
//     border-top: 6px solid #5e9dc0;
//     margin-left: 4px;
// }

// #account-bar .icon {
//     display: inline-block;
//     vertical-align: middle;
//     margin-left: 10px;
// }

// /* ---- 02.2 Masthead -- */
// #masthead {
//     display: block;
//     position: relative;
//     height: 54px;
//     background: #004f79;
//     background: -moz-linear-gradient(top,  #004f79 0%, #5e9dc0 100%);
//     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004f79), color-stop(100%,#5e9dc0));
//     background: -webkit-linear-gradient(top,  #004f79 0%,#5e9dc0 100%);
//     background: -o-linear-gradient(top,  #004f79 0%,#5e9dc0 100%);
//     background: -ms-linear-gradient(top,  #004f79 0%,#5e9dc0 100%);
//     background: linear-gradient(to bottom,  #004f79 0%,#5e9dc0 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f79', endColorstr='#5e9dc0',GradientType=0 );
// }

// #logo, #primatics {
//     position: absolute;
// }
// #logo {
//     top: 14px;
//     left: 20px;
// }
// #primatics {
//     top: 8px;
//     right: 15px;
// }

// #titleBar h1,
// #mainContent h1 {
//     font-size: 18px;
//     color: #231f20;
//     font-weight: bold;
//     font-family: 'Latobold', sans-serif;
//     padding: 4px 0 18px 0px;
//     margin: 0 15px 20px 15px;
//     border-bottom: 1px solid #d9d9d9;
// }

// #nav #org-selection {
//     position: absolute;
//     display: block;
//     right: 136px;
//     top: -34px;
// }

// h2.sub_title {
//     font-size: 18px;
//     margin: 0 15px;
//     color: #231f20 !important;
// }

// #account-bar .user-announcement {
//     background: url("../img/evolv-ui/i-icon.png") no-repeat top left;
//     width: 20px;
//     height: 20px;
//     display: inline-block;
//     margin-top: -2px;
//     vertical-align: bottom;
// }

// /* -- 02.3. Main Content -- */
// #mainContent {
//     padding: 20px 0 50px;
//     min-height: 550px;
//     background-color: #FFF;
// }

// /* -- 05. Modal Dialogs -- */
// .modal-wrap {
//     display: none;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.75);
//     z-index: 99999;
//     opacity: 1;
// }

// .modal-dialog {
//     max-width: 320px;
//     position: relative;
//     margin: 20% auto;
//     background: #f7f7f7;
//     color: #231f20;
//     font-size: 18px;

//     -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
//     -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
//     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
// }

// div.modal-wrap > div.large {
//     max-width: 660px;
//     display: table;
// }

// .close {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     text-decoration: none;
// }

// .modal-title, .modal-foot {
//     position: relative;
//     padding: 10px;
// }

// .modal-foot a {
//     color: #004f79;
//     font-weight: bold;
//     margin-right: 10px;
// }

// .modal-foot a.btn {
//     color: #fff;
// }

// .modal-foot a.btn:active {
//     color: #231f20;
// }

// .modal-title span.title {
//     font-size: 18px;
//     font-weight: bold;
//     margin-right: 10px;
// }

// .modal-content {
//     padding: 10px 20px;
//     border-top: 1px solid #d9d9d9;
//     border-bottom: 1px solid #d9d9d9;
// }

// .modal-content:after {
//     content: "";
//     display: table;
//     clear: both;
// }

// .col1, .col2 {
//     width: 300px;
//     display: block;
//     float: left;
// }

// .col1 {
//     margin-right: 10px;
// }

// .col2 {
//     margin-left: 10px;
// }

// /* -- 06. Tool Tips-- */
// .hover {
//     display: inline-block;
//     position: relative;
//     text-align: left;
// }

// .hover:hover > div.tooltip {
//     display: block;
// }

// #account-bar .tooltip {
//     text-transform: none;
//     left: -70px;
// }


// #account-bar .tooltip-title span.title {
//     margin-left: 0px;
// }

// /* ---- 02.3 Navigation -- */
// #topMenu {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     text-align: center;
//     margin: 3px 170px 0px 185px;
//     border-left: 1px solid rgba(255, 255, 255, 0.20);
//     border-right: 1px solid rgba(255, 255, 255, 0.20);
//     font-size: 16px;
//     text-transform: uppercase;
//     overflow: visible;
//     background-color: transparent;
// }

// #topMenu .align_left {
//     display: block;
//     padding: 0px;
//     margin: 0px auto;
//     list-style-type: none;
//     width: 900px;
//     float: none;
//     text-align: center;
// }

// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal > .top_level_text,
// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled > .top_level_text,
// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected > .top_level_text {
//     display: block;
//     padding: 5px 23px 5px 10px;
//     margin: 0 10px;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
//     background: url("../img/menu_carot_sprite.png") 95% 9px no-repeat;
// }

// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal, 
// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled, 
// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected {
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
//     font-family: 'Lato', sans-serif !important;
//     font-size: 16px !important;
//     font-weight: normal !important;
//     cursor: pointer !important;
//     white-space: nowrap !important;
//     -moz-user-select: none;
//     height: auto !important;
//     color: #fff;
//     border-top: none;
//     position: relative;
//     margin: 5px 0px 0px 0px;
//     float: left;
// }

// .dhtmlxMenu_dhx_skyblue_Middle {
//     height: auto !important;
// }

// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected > .top_level_text {
//     background-image: url("../img/menu_carot_sprite.png");
//     background-position: 95% 9px;
//     background-repeat: no-repeat;
//     background-color: rgba(255, 255, 255, 0.15) !important;
//     border: none !important;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
//     color: #C0DEEE;
// }
// #nav #topMenu div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td {
//     font-family: 'Lato', sans-serif;
//     padding: 6px 8px;
//     border-top: 0;
//     border-bottom: 0;
// }
// /*
// .top_level_text:after {
//   top: 40%; 
//   border-left: 6px solid transparent;
//   border-right: 6px solid transparent;
//   border-top: 8px solid #ccc; 
//   margin-left: 10px;
//   content: "";
// position: absolute;
// width: 0;
// height: 0;
// z-index: 100;
// }
// */

// /* ---- 02.4 Dropdown Submenu -- */
// div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon {
//     background: #f7f7f7;
//     border: 1px solid #a7a9ac;
//     text-transform: none;
//     z-index: 100;

//     -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
//     -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
//     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
//     -webkit-border-radius: 3px !important;
//     -moz-border-radius: 3px !important;
//     border-radius: 3px !important;
//     padding: 0 !important;
// }

// div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl {
//     background-color: #f7f7f7;
// }
// div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td {
//     font-family: 'Lato', sans-serif !important;
//     padding: 6px 8px!important;
//     border-top: 1px solid #f7f7f7!important;
//     border-bottom: 1px solid #f7f7f7!important;
// }
// div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text {
//     font-family: 'Lato', sans-serif !important;
//     font-size: 14px !important;
//     color: #231f20 !important;
// }

// div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected {
//     background-color: #d8e5ec !important;
//     cursor: pointer;
// }

// div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon .sub_item_icon {
//     display: none;
// }

// #footer {
//     min-width: 1020px;
//     text-align: center;
//     color: #231f20;
//     font-size: 11px;
//     padding: 20px;
//     clear: both;
//     float: none;
// }

// #footer a {
//     color: #004f79 !important;
//     margin-left: 20px;
// }

// div.module {
//     border: 1px solid #bcbcbc;
//     padding-bottom: 24px;
//     width: 310px;
//     float: left;
//     margin-right: 22px;
//     margin-bottom: 22px;
//     /*  min-height: 230px; */
//     height: 240px;
// }

// div.module > .module-header {
//     border-bottom: 1px solid #bcbcbc;
//     height: 47px;
//     background-color: #efefef;
//     margin-bottom: 10px;
// }

// .module-header h1 {
//     color: #065076;
//     font-size: 18px;
//     font-weight: normal;
//     margin: 0 0 0 0;
//     padding: 0 0 0 10px;
//     line-height: 45px;
//     border: 1px solid #ffffff
// }

// .module-content {
//     margin-left: 10px;
//     margin-right: 10px;
//     font-size: 13px;
//     line-height: 16px;
// }

// .module-content .icon {
//     float: left;
//     padding-right: 10px;
// }

// .module-content a {
//     font-weight: bold;
// }

// .horiz_form .col_4 {
//     width: 33.33%;
//     float: left;
// }

// .padding_vertical {
//     padding: 0 15px;
//     overflow: hidden;
// }
// .form-group label,
// .label,
// .dhxform_obj_dhx_skyblue div.dhxform_item_label_top div.dhxform_label.dhxform_label_align_right {
//     font-size: 11px;
//     letter-spacing: 0.1em;
//     line-height: 18px;
//     padding: 0;
//     text-transform: uppercase;
//     margin-top: 15px;
// }
// label.error {
//     color: #582d18!important;
//     background: #fde5d6;
//     padding: 2px 6px;
//     border-top: 1px solid #f9aa78;
//     font-style: italic;
//     border-bottom: 1px solid #f9aa78;
//     font-weight: normal!important;
//     font-size: 14px!important;
//     line-height: 18px;
//     display: inline-block;
//     text-transform: none!important;
//     letter-spacing: normal!important;
// }
// .form-group.upload-target label {
//     text-transform: none;
//     font-size: 14px;
// }
// .value {
//     font-size: 14px;
//     font-weight: bold;
//     line-height: 18px;
//     padding: 0;
// }

// .horiz_form {
//     overflow: hidden;
// }

// #inst_table {
//     margin-top: 20px;
// }

// table {
//     width: 100%;
//     border-collapse: collapse;
//     border-spacing: 0px; /* cellspacing */
// }

// table label {
//     font-size: 11px;
//     padding-bottom: 10px;
//     text-transform: uppercase;
//     /*letter-spacing: 0.1em;*/
//     display: block;
//     font-weight: bold;
// }

// table .hdrcell label {
//     display: inline-block;
// }

// .table_scroll_holder {
//     overflow-x: auto;
// }

// .mleft td {
//     padding-left: 10px;
// }

// .table_wrapper {
//     margin-top: 10px;
// }

// .table_wrapper .ditch-tab-pane {
//     width: 100%;
//     overflow: auto;
// }

// .ditch-tab-skin-default .ditch-tab-pane-wrap {
//     padding: 0 !important;
// }

// .ditch-tab-pane .sub_title {
//     padding-left: 10px;
// }

// .ditch-tab-pane-wrap {
//     background: #eff5f9;
//     border-top: 1px solid #e2e7eb;
// }

// .ditch-tab {
//     float: left;
//     margin-top: 1px;
// }

// .ditch-tab a {
//     padding: 5px 8px;
//     background: #B4C3CF;
//     border-left: 1px solid #B0BDC7;
//     border-top: 1px solid #B0BDC7;
//     border-right: 1px solid #B0BDC7;
//     border-radius: 3px 3px 0 0;
//     margin-right: 1px;
//     display: block;
//     color: #000;
// }

// .ditch-tab a:hover, .ditch-focused a {
//     background: #eff5f9;
//     border-left: 1px solid #e2e7eb;
//     border-top: 1px solid #e2e7eb;
//     border-right: 1px solid #e2e7eb;
//     color: #000;
// }

// .ditch-clear {
//     display: none;
// }

// .ditch-tab-wrap {
//     overflow: hidden;
//     margin-bottom: -1px;
//     padding: 0 10px;
// }

// .ditch-tab-pane {
//     padding: 20px 0 0 0;
// }

// .ditch-tab-container,
// .ditch-tab-pane .ledger {
//     margin-top: 20px;
// }

// .form-checkbox-group {
//     margin: 10px 0 0;
// }

// table {
//     border-collapse: collapse;
//     border-spacing: 0;
// }

// .container {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// @media (min-width: 768px) {
//     .container {
//         width: 750px;
//     }
// }

// @media (min-width: 992px) {
//     .container {
//         width: 970px;
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         width: 1170px;
//     }
// }

// .container-fluid {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .row {
//     margin-left: -15px;
//     margin-right: -15px;
// }

// .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
//     display: inline-block;
//     vertical-align: top;
// }

// .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
//     float: left;
// }

// .col-xs-12 {
//     width: 100%;
// }

// .col-xs-11 {
//     width: 91.66666667%;
// }

// .col-xs-10 {
//     width: 83.33333333%;
// }

// .col-xs-9 {
//     width: 75%;
// }

// .col-xs-8 {
//     width: 66.66666667%;
// }

// .col-xs-7 {
//     width: 58.33333333%;
// }

// .col-xs-6 {
//     width: 50%;
// }

// .col-xs-5 {
//     width: 41.66666667%;
// }

// .col-xs-4 {
//     width: 33.33333333%;
// }

// .col-xs-3 {
//     width: 25%;
// }

// .col-xs-2 {
//     width: 16.66666667%;
// }

// .col-xs-1 {
//     width: 8.33333333%;
// }

// .col-xs-pull-12 {
//     right: 100%;
// }

// .col-xs-pull-11 {
//     right: 91.66666667%;
// }

// .col-xs-pull-10 {
//     right: 83.33333333%;
// }

// .col-xs-pull-9 {
//     right: 75%;
// }

// .col-xs-pull-8 {
//     right: 66.66666667%;
// }

// .col-xs-pull-7 {
//     right: 58.33333333%;
// }

// .col-xs-pull-6 {
//     right: 50%;
// }

// .col-xs-pull-5 {
//     right: 41.66666667%;
// }

// .col-xs-pull-4 {
//     right: 33.33333333%;
// }

// .col-xs-pull-3 {
//     right: 25%;
// }

// .col-xs-pull-2 {
//     right: 16.66666667%;
// }

// .col-xs-pull-1 {
//     right: 8.33333333%;
// }

// .col-xs-pull-0 {
//     right: auto;
// }

// .col-xs-push-12 {
//     left: 100%;
// }

// .col-xs-push-11 {
//     left: 91.66666667%;
// }

// .col-xs-push-10 {
//     left: 83.33333333%;
// }

// .col-xs-push-9 {
//     left: 75%;
// }

// .col-xs-push-8 {
//     left: 66.66666667%;
// }

// .col-xs-push-7 {
//     left: 58.33333333%;
// }

// .col-xs-push-6 {
//     left: 50%;
// }

// .col-xs-push-5 {
//     left: 41.66666667%;
// }

// .col-xs-push-4 {
//     left: 33.33333333%;
// }

// .col-xs-push-3 {
//     left: 25%;
// }

// .col-xs-push-2 {
//     left: 16.66666667%;
// }

// .col-xs-push-1 {
//     left: 8.33333333%;
// }

// .col-xs-push-0 {
//     left: auto;
// }

// .col-xs-offset-12 {
//     margin-left: 100%;
// }

// .col-xs-offset-11 {
//     margin-left: 91.66666667%;
// }

// .col-xs-offset-10 {
//     margin-left: 83.33333333%;
// }

// .col-xs-offset-9 {
//     margin-left: 75%;
// }

// .col-xs-offset-8 {
//     margin-left: 66.66666667%;
// }

// .col-xs-offset-7 {
//     margin-left: 58.33333333%;
// }

// .col-xs-offset-6 {
//     margin-left: 50%;
// }

// .col-xs-offset-5 {
//     margin-left: 41.66666667%;
// }

// .col-xs-offset-4 {
//     margin-left: 33.33333333%;
// }

// .col-xs-offset-3 {
//     margin-left: 25%;
// }

// .col-xs-offset-2 {
//     margin-left: 16.66666667%;
// }

// .col-xs-offset-1 {
//     margin-left: 8.33333333%;
// }

// .col-xs-offset-0 {
//     margin-left: 0%;
// }

// @media (min-width: 768px) {
//     .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
//         float: left;
//     }

//     .col-sm-12 {
//         width: 100%;
//     }

//     .col-sm-11 {
//         width: 91.66666667%;
//     }

//     .col-sm-10 {
//         width: 83.33333333%;
//     }

//     .col-sm-9 {
//         width: 75%;
//     }

//     .col-sm-8 {
//         width: 66.66666667%;
//     }

//     .col-sm-7 {
//         width: 58.33333333%;
//     }

//     .col-sm-6 {
//         width: 50%;
//     }

//     .col-sm-5 {
//         width: 41.66666667%;
//     }

//     .col-sm-4 {
//         width: 33.33333333%;
//     }

//     .col-sm-3 {
//         width: 25%;
//     }

//     .col-sm-2 {
//         width: 16.66666667%;
//     }

//     .col-sm-1 {
//         width: 8.33333333%;
//     }

//     .col-sm-pull-12 {
//         right: 100%;
//     }

//     .col-sm-pull-11 {
//         right: 91.66666667%;
//     }

//     .col-sm-pull-10 {
//         right: 83.33333333%;
//     }

//     .col-sm-pull-9 {
//         right: 75%;
//     }

//     .col-sm-pull-8 {
//         right: 66.66666667%;
//     }

//     .col-sm-pull-7 {
//         right: 58.33333333%;
//     }

//     .col-sm-pull-6 {
//         right: 50%;
//     }

//     .col-sm-pull-5 {
//         right: 41.66666667%;
//     }

//     .col-sm-pull-4 {
//         right: 33.33333333%;
//     }

//     .col-sm-pull-3 {
//         right: 25%;
//     }

//     .col-sm-pull-2 {
//         right: 16.66666667%;
//     }

//     .col-sm-pull-1 {
//         right: 8.33333333%;
//     }

//     .col-sm-pull-0 {
//         right: auto;
//     }

//     .col-sm-push-12 {
//         left: 100%;
//     }

//     .col-sm-push-11 {
//         left: 91.66666667%;
//     }

//     .col-sm-push-10 {
//         left: 83.33333333%;
//     }

//     .col-sm-push-9 {
//         left: 75%;
//     }

//     .col-sm-push-8 {
//         left: 66.66666667%;
//     }

//     .col-sm-push-7 {
//         left: 58.33333333%;
//     }

//     .col-sm-push-6 {
//         left: 50%;
//     }

//     .col-sm-push-5 {
//         left: 41.66666667%;
//     }

//     .col-sm-push-4 {
//         left: 33.33333333%;
//     }

//     .col-sm-push-3 {
//         left: 25%;
//     }

//     .col-sm-push-2 {
//         left: 16.66666667%;
//     }

//     .col-sm-push-1 {
//         left: 8.33333333%;
//     }

//     .col-sm-push-0 {
//         left: auto;
//     }

//     .col-sm-offset-12 {
//         margin-left: 100%;
//     }

//     .col-sm-offset-11 {
//         margin-left: 91.66666667%;
//     }

//     .col-sm-offset-10 {
//         margin-left: 83.33333333%;
//     }

//     .col-sm-offset-9 {
//         margin-left: 75%;
//     }

//     .col-sm-offset-8 {
//         margin-left: 66.66666667%;
//     }

//     .col-sm-offset-7 {
//         margin-left: 58.33333333%;
//     }

//     .col-sm-offset-6 {
//         margin-left: 50%;
//     }

//     .col-sm-offset-5 {
//         margin-left: 41.66666667%;
//     }

//     .col-sm-offset-4 {
//         margin-left: 33.33333333%;
//     }

//     .col-sm-offset-3 {
//         margin-left: 25%;
//     }

//     .col-sm-offset-2 {
//         margin-left: 16.66666667%;
//     }

//     .col-sm-offset-1 {
//         margin-left: 8.33333333%;
//     }

//     .col-sm-offset-0 {
//         margin-left: 0%;
//     }
// }

// @media (min-width: 992px) {
//     .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
//         float: left;
//     }

//     .col-md-12 {
//         width: 100%;
//     }

//     .col-md-11 {
//         width: 91.66666667%;
//     }

//     .col-md-10 {
//         width: 83.33333333%;
//     }

//     .col-md-9 {
//         width: 75%;
//     }

//     .col-md-8 {
//         width: 66.66666667%;
//     }

//     .col-md-7 {
//         width: 58.33333333%;
//     }

//     .col-md-6 {
//         width: 50%;
//     }

//     .col-md-5 {
//         width: 41.66666667%;
//     }

//     .col-md-4 {
//         width: 33.33333333%;
//     }

//     .col-md-3 {
//         width: 25%;
//     }

//     .col-md-2 {
//         width: 16.66666667%;
//     }

//     .col-md-1 {
//         width: 8.33333333%;
//     }

//     .col-md-pull-12 {
//         right: 100%;
//     }

//     .col-md-pull-11 {
//         right: 91.66666667%;
//     }

//     .col-md-pull-10 {
//         right: 83.33333333%;
//     }

//     .col-md-pull-9 {
//         right: 75%;
//     }

//     .col-md-pull-8 {
//         right: 66.66666667%;
//     }

//     .col-md-pull-7 {
//         right: 58.33333333%;
//     }

//     .col-md-pull-6 {
//         right: 50%;
//     }

//     .col-md-pull-5 {
//         right: 41.66666667%;
//     }

//     .col-md-pull-4 {
//         right: 33.33333333%;
//     }

//     .col-md-pull-3 {
//         right: 25%;
//     }

//     .col-md-pull-2 {
//         right: 16.66666667%;
//     }

//     .col-md-pull-1 {
//         right: 8.33333333%;
//     }

//     .col-md-pull-0 {
//         right: auto;
//     }

//     .col-md-push-12 {
//         left: 100%;
//     }

//     .col-md-push-11 {
//         left: 91.66666667%;
//     }

//     .col-md-push-10 {
//         left: 83.33333333%;
//     }

//     .col-md-push-9 {
//         left: 75%;
//     }

//     .col-md-push-8 {
//         left: 66.66666667%;
//     }

//     .col-md-push-7 {
//         left: 58.33333333%;
//     }

//     .col-md-push-6 {
//         left: 50%;
//     }

//     .col-md-push-5 {
//         left: 41.66666667%;
//     }

//     .col-md-push-4 {
//         left: 33.33333333%;
//     }

//     .col-md-push-3 {
//         left: 25%;
//     }

//     .col-md-push-2 {
//         left: 16.66666667%;
//     }

//     .col-md-push-1 {
//         left: 8.33333333%;
//     }

//     .col-md-push-0 {
//         left: auto;
//     }

//     .col-md-offset-12 {
//         margin-left: 100%;
//     }

//     .col-md-offset-11 {
//         margin-left: 91.66666667%;
//     }

//     .col-md-offset-10 {
//         margin-left: 83.33333333%;
//     }

//     .col-md-offset-9 {
//         margin-left: 75%;
//     }

//     .col-md-offset-8 {
//         margin-left: 66.66666667%;
//     }

//     .col-md-offset-7 {
//         margin-left: 58.33333333%;
//     }

//     .col-md-offset-6 {
//         margin-left: 50%;
//     }

//     .col-md-offset-5 {
//         margin-left: 41.66666667%;
//     }

//     .col-md-offset-4 {
//         margin-left: 33.33333333%;
//     }

//     .col-md-offset-3 {
//         margin-left: 25%;
//     }

//     .col-md-offset-2 {
//         margin-left: 16.66666667%;
//     }

//     .col-md-offset-1 {
//         margin-left: 8.33333333%;
//     }

//     .col-md-offset-0 {
//         margin-left: 0%;
//     }
// }

// @media (min-width: 1200px) {
//     .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
//         float: left;
//     }

//     .col-lg-12 {
//         width: 100%;
//     }

//     .col-lg-11 {
//         width: 91.66666667%;
//     }

//     .col-lg-10 {
//         width: 83.33333333%;
//     }

//     .col-lg-9 {
//         width: 75%;
//     }

//     .col-lg-8 {
//         width: 66.66666667%;
//     }

//     .col-lg-7 {
//         width: 58.33333333%;
//     }

//     .col-lg-6 {
//         width: 50%;
//     }

//     .col-lg-5 {
//         width: 41.66666667%;
//     }

//     .col-lg-4 {
//         width: 33.33333333%;
//     }

//     .col-lg-3 {
//         width: 25%;
//     }

//     .col-lg-2 {
//         width: 16.66666667%;
//     }

//     .col-lg-1 {
//         width: 8.33333333%;
//     }

//     .col-lg-pull-12 {
//         right: 100%;
//     }

//     .col-lg-pull-11 {
//         right: 91.66666667%;
//     }

//     .col-lg-pull-10 {
//         right: 83.33333333%;
//     }

//     .col-lg-pull-9 {
//         right: 75%;
//     }

//     .col-lg-pull-8 {
//         right: 66.66666667%;
//     }

//     .col-lg-pull-7 {
//         right: 58.33333333%;
//     }

//     .col-lg-pull-6 {
//         right: 50%;
//     }

//     .col-lg-pull-5 {
//         right: 41.66666667%;
//     }

//     .col-lg-pull-4 {
//         right: 33.33333333%;
//     }

//     .col-lg-pull-3 {
//         right: 25%;
//     }

//     .col-lg-pull-2 {
//         right: 16.66666667%;
//     }

//     .col-lg-pull-1 {
//         right: 8.33333333%;
//     }

//     .col-lg-pull-0 {
//         right: auto;
//     }

//     .col-lg-push-12 {
//         left: 100%;
//     }

//     .col-lg-push-11 {
//         left: 91.66666667%;
//     }

//     .col-lg-push-10 {
//         left: 83.33333333%;
//     }

//     .col-lg-push-9 {
//         left: 75%;
//     }

//     .col-lg-push-8 {
//         left: 66.66666667%;
//     }

//     .col-lg-push-7 {
//         left: 58.33333333%;
//     }

//     .col-lg-push-6 {
//         left: 50%;
//     }

//     .col-lg-push-5 {
//         left: 41.66666667%;
//     }

//     .col-lg-push-4 {
//         left: 33.33333333%;
//     }

//     .col-lg-push-3 {
//         left: 25%;
//     }

//     .col-lg-push-2 {
//         left: 16.66666667%;
//     }

//     .col-lg-push-1 {
//         left: 8.33333333%;
//     }

//     .col-lg-push-0 {
//         left: auto;
//     }

//     .col-lg-offset-12 {
//         margin-left: 100%;
//     }

//     .col-lg-offset-11 {
//         margin-left: 91.66666667%;
//     }

//     .col-lg-offset-10 {
//         margin-left: 83.33333333%;
//     }

//     .col-lg-offset-9 {
//         margin-left: 75%;
//     }

//     .col-lg-offset-8 {
//         margin-left: 66.66666667%;
//     }

//     .col-lg-offset-7 {
//         margin-left: 58.33333333%;
//     }

//     .col-lg-offset-6 {
//         margin-left: 50%;
//     }

//     .col-lg-offset-5 {
//         margin-left: 41.66666667%;
//     }

//     .col-lg-offset-4 {
//         margin-left: 33.33333333%;
//     }

//     .col-lg-offset-3 {
//         margin-left: 25%;
//     }

//     .col-lg-offset-2 {
//         margin-left: 16.66666667%;
//     }

//     .col-lg-offset-1 {
//         margin-left: 8.33333333%;
//     }

//     .col-lg-offset-0 {
//         margin-left: 0%;
//     }
// }

// .clearfix:before,
// .clearfix:after,
// .container:before,
// .container:after,
// .container-fluid:before,
// .container-fluid:after,
// .row:before,
// .row:after {
//     content: " ";
//     display: table;
// }

// .clearfix:after,
// .container:after,
// .container-fluid:after,
// .row:after {
//     clear: both;
// }

// .center-block {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

// .pull-right {
//     float: right !important;
// }

// .pull-left {
//     float: left !important;
// }

// .hide {
//     display: none !important;
// }

// .show {
//     display: block !important;
// }

// .invisible {
//     visibility: hidden;
// }

// .text-hide {
//     font: 0/0 a;
//     color: transparent;
//     text-shadow: none;
//     background-color: transparent;
//     border: 0;
// }

// .hidden {
//     display: none !important;
//     visibility: hidden !important;
// }

// .affix {
//     position: fixed;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
// }

// .progressbar {
//     background: #96b362;
//     background: -moz-linear-gradient(top, #96b362 0%, #7d9e3e 100%);
//     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96b362), color-stop(100%, #7d9e3e));
//     background: -webkit-linear-gradient(top, #96b362 0%, #7d9e3e 100%);
//     background: -o-linear-gradient(top, #96b362 0%, #7d9e3e 100%);
//     background: -ms-linear-gradient(top, #96b362 0%, #7d9e3e 100%);
//     background: linear-gradient(to bottom, #96b362 0%, #7d9e3e 100%);

//     border-radius: 14px;
//     box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
//     margin-top: 10px;
// }

// #progressBarDiv {
//     border-radius: 14px;
// }

// #progressTextDiv {
//     font-family: 'Lato', sans-serif;
//     padding: 5px 0 0 0;
// }

// .progress_table img {
//     margin-top: 20px;
// }

// .ui-dialog-buttonset .ui-button {
//     background: none repeat scroll 0 0 #004f79 !important;
//     border: medium none;
//     border-radius: 3px;
//     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
//     color: #fff !important;
//     cursor: pointer !important;
//     font-size: 14px !important;
//     font-weight: bold !important;
//     height: 29px;
//     line-height: 9px;
//     margin: 0 !important;
//     padding: 10px !important;
// }

// .ui-dialog-buttonset .ui-button .ui-button-text {
//     padding: 0 !important;
//     line-height: 0px;
// }

// .ui-widget-overlay {
//     background-image: none !important;
//     background-color: #000 !important;
//     opacity: 0.75 !important;
// }

// .dialog-text {
//     font-size: 15px;
//     font-family: latobold, sans-serif;
// }

// #errors li {
//     margin: 8px;
// }

// table label {
//     padding-bottom: 0;
// }

// ul.dash-list {
//     list-style: none;
//     padding-left: 1em;
//     display: inline-block;

//     /* Makes IE happy */
//     float: right;
// }

// ul.dash-list li:before {
//     content: "-";
//     margin-left: -1em;
// }

// ol.numbered-list {
//     list-style: decimal;
//     padding-left: 2em;
//     display: inline-block;
// }

// .instrument-details-tooltip {
//     max-width: 400px !important;
//     text-align: justify !important;
// }

// .instrument-details-tooltip div ol li {
//     font-family: Verdana, Geneva, sans-serif !important;
//     font-size: 13px !important;
//     font-weight: normal !important;
// }

// .info-message {
//     padding-top: 0 !important;
//     padding-left: 11px !important;
//     padding-bottom: 11px !important;
// }

// .table-fixed-layout {
//     table-layout: fixed;
// }

// .content-table {
//     margin-top: 20px;
// }

// .offset-15px {
//     margin-left: 15px;
// }
// .ui-state-default .ui-icon,
// .ui-widget-header .ui-icon {
//     background-image: url("../libs/jquery/plugins/jqueryui/themes/ui-lightness/images/ui-icons_222222_256x240.png")!important;
// }

// /* Media Queries */

// @media only screen and (max-width: 1196px) {
//   #bodywrapper { margin: 0; }
//   .top_header {
//       padding-right: 0;
//       position: absolute;
//   }
// }