<h1 class="page-title mt-3">Model Management</h1>
 
          <div class="p-2 valuation-sub">
            <label> Models </label>
            <a href="#" class="upload-models">Upload New Model</a>
          </div>
<table class="table">
    <thead class="table-header">
        <tr>
          <th scope="col" class="col-2"> Model Name</th>
          <th scope="col" class="col-2"> Upload Date</th>
          <th scope="col" class="col-6">  Description</th>
        </tr>
      </thead>
      <tbody>    
      </tbody>
  </table>
    <div class="row">
        <div class="col-md-12 mt-5 ms-3">
            <div class="d-desc">Detailed Description</div>
            <textarea id="descriptionArea" readonly=""></textarea>
        </div>
    </div>