<h1 class="page-title mt-3">Valuation Home</h1>
 
          <div class="p-2 valuation-sub">
            <label> (0 model executions) </label>
            <button type="button" class="evolv-btn">Create New Execution</button>
          </div>
<table class="table">
    <thead class="table-header">
        <tr>
          <th scope="col"> Execution Name</th>
          <th scope="col"> Executed</th>
          <th scope="col">  Execution Type</th>
          <th scope="col"> Published</th>
          <th scope="col">  Estimation</th>
          <th scope="col">   Status</th>
          <th scope="col">  Username</th>
        </tr>
      </thead>
      <tbody>    
      </tbody>
  </table>